<% layout('layouts/boilerplate')%>
    <h1>All Contents</h1>
    <div>
        <a href="/contents">Add Content</a>
    </div>
    <div>
        <a href="/contents/newcontent">New Content</a>
    </div>
    <div>
        <a href="/contents/mostliked">Most Liked</a>
    </div>
    <div>
        <a href="/contents/mostviewed">Most Viewed</a>
    </div>
    <ul>
        <% for(let content of contents ) {%>
           <div class="card" mb-3>
                <div class="row">
                    <div class="col-md-4">
                        <img class= "img-fluid" src="<%= content.image  %> " alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title"><%= content.title %></h5>
                            <p class="card-text"><%= content.story %> </p>
                            <a class="btn btn-primary" href="/contents/<%= content._id %>">Show</a>
                            <% var currDate = content.datePublished.getDate() + "/" + content.datePublished.getMonth() + 1 +"/" +content.datePublished.getFullYear(); %> 
                            <p class="mt-3">Date Published: <%= currDate %></p>
                             <p class="mt-3"><%= content.likes.length %> Likes</p>
                             <p class="mt-3"><%= content.views %> Views</p>
                        </div>
                    </div>
                </div>
           </div>
        <% }%> 
    </ul>
